parameters:
	ignoreErrors:
		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsConnector\\:\\:connect\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RawSqsConnector.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsConnector\\:\\:getDefaultConfiguration\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RawSqsConnector.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsConnector\\:\\:getDefaultConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RawSqsConnector.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsJob\\:\\:__construct\\(\\) has parameter \\$data with no type specified\\.$#"
			count: 1
			path: src/RawSqsJob.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:hasRemainingAttempts\\(\\) should return bool but returns mixed\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:log\\(\\) has parameter \\$context with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:pushRaw\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:querySqs\\(\\) return type has no value type specified in iterable type Aws\\\\Result\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:querySqs\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:querySqs\\(\\) return type has no value type specified in iterable type array\\|Aws\\\\Result\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:receiveMessage\\(\\) return type has no value type specified in iterable type Aws\\\\Result\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Method AgentSoftware\\\\LaravelRawSqsConnector\\\\RawSqsQueue\\:\\:receiveMessage\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^PHPDoc tag @param for parameter \\$rateLimit with type string is incompatible with native type int\\.$#"
			count: 1
			path: src/RawSqsQueue.php

		-
			message: "#^Parameter \\#2 \\$maxAttempts of static method Illuminate\\\\Support\\\\Facades\\\\RateLimiter\\:\\:attempt\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/RawSqsQueue.php
